@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

.extrapad {
        padding-right: 50px;
	padding-left: 50px;
}

.panel {
        margin: auto !important;
        text-align: centre !important;
}

body {
        background-color: black;
        color: white;
        font-family: 'Merriweather', sans-serif;
}

h1 {
        font-weight: bold;
        text-align: center;
}

h2 {
        font-weight: bold;
}

p {
        font-size: 16px;
        color: white;
}
a:visited {
        color: white;
}

.reviews {
        border-style: solid;
        padding: 10px;
        margin: 10px;
        border-radius: 10px
}

.jumbotron {
        background: #0048CD;
        color: $white;
        text-align: center;
        p {
                color: $white;
                font-size: 26px;
        }
}

.link {
        color: white;
}

.btn-primary {
        color: white;
        border-color: white;
        margin-bottom: 5px;
}

.btn-sm {
        background-color: $white;
        display: inline-block;
}

caption {
        float: left;
        clear: both;
}